<div class="page-header">
  <h3>
     Here you can manage your Profile
  </h3>
</div>

<div class="span8">
  <ul class="tabs" data-tabs="tabs">
    <li class="active"> <a href="#photo">Photo</a> </li>
    <li> <a href="#main">Main</a></li>
    <li> <a href="#contacts">Contacts</a></li>
  </ul>
  <div class="pill-content">
    <div class="tab-content active" id="photo">
      <ul class="media-grid">
        <li>
          <%= link_to image_tag(current_user.avatar.url(:profile)), nil %>
        </li>
      </ul>
      <%= form_for current_user, :url => user_path(:id => current_user.id), :method => :put, :html => {:multipart => true} do |f| %>
          <%= f.file_field :avatar %>
          <%= render :partial => "edit_actions", :locals => {:form => f} %>
      <% end %>
    </div>
    <div class="tab-content" id="main">
      <%= form_for current_user,:url => user_path(:id => current_user.id), :method => :put, :html => {:multipart => true, :class => "edit-container"} do |f| %>
        <fieldset>
          <%= render :partial => "edit_text_field",:locals => { :form => f, :params => [:name, :surname, :nickname] } %>
          <%= render :partial => "edit_select_and_textarea",:locals => {:form => f,:params => [:interests,:birthday,:sex]} %>
        </fieldset>
        <%= render :partial => "edit_actions",:locals => {:form => f} %>
      <% end %>
    </div>
    <div class="tab-content" id="contacts">
      <%= form_for current_user,:url => user_path(:id => current_user.id), :method => :put, :html => {:multipart => true, :class => "edit-container"} do |f| %>
        <fieldset>
          <%= render :partial => "edit_text_field",:locals => {:form => f, :params => [:country, :city, :phone, :skype, :school, :university, :address ] } %>
        </fieldset>
        <%= render :partial => "edit_actions",:locals => {:form => f} %>
      <% end %>
    </div>

  </div>
</div>